<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl1e5AX5JMzr0-SRT0aRQXzJQfxz_0d6U</string>
	<key>GCM_SENDER_ID</key>
	<string>1090501322083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectSync.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>projectsync-f9b50</string>
	<key>STORAGE_BUCKET</key>
	<string>projectsync-f9b50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090501322083:ios:e31f36e0a2dc75c4175f56</string>
</dict>
</plist>